@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    120deg,
    rgba(183, 5, 248, 0.593),
    rgba(227, 227, 10, 0.51)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.have {
  width: 750px;
  height: 450px;
  display: flex;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  opacity: 1;
  box-shadow: 0px 0px 8px black;
  transition: all 0.6s linear;
}
.sign {
  width: 750px;
  height: 450px;
  display: flex;
  border-radius: 20px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  box-shadow: 0px 0px 8px black;
  transition: all 0.6s linear;
}
.login-left {
  width: 50%;
  background: linear-gradient(
    45deg,
    rgba(52, 174, 255, 0.4),
    rgba(118, 49, 246, 0.4)
  );
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  opacity: 1;
  animation: login-left 1s ease;
}
@keyframes login-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(375px);
  }
}
.signup-right {
  width: 50%;
  background: linear-gradient(rgba(41, 252, 153, 0.3), rgba(36, 248, 68, 0.3));
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  animation: signup-right 1s ease;
}
@keyframes signup-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-375px);
  }
}
.login-left h3,
.signup-right h3 {
  padding: 10px 0px;
  font-size: 25px;
}
h4 {
  padding: 10px 0px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(75, 75, 75);
}
.icons {
  display: flex;
  gap: 20px;
}
.icons i {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  filter: drop-shadow(3px 3px 8px black);
}
.icons i:active {
  transform: translateY(6px);
}
.fa-apple:hover{
  color: black;
}
.fa-twitter:hover{
  color: cyan;
}
.fa-facebook:hover{
  color: blue;
}
.fa-github:hover{
  color: black;
}
.input {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 80%;
}
input {
  width: 80%;
  height: 30px;
  border-radius: 20px;
  border: 0px;
  padding: 0px 20px;
}
input:focus {
  outline: none;
  color: gray;
}
.login-left button,
.signup-right button {
  width: 100px;
  height: 30px;
  font-weight: 400;
  border: 3px solid #fff;
  border-radius: 20px;
  background: linear-gradient(rgba(52, 174, 255, 0.4), rgba(118, 49, 246, 0.4));
  color: #fff;
  cursor: pointer;
  transition: all 0.1s linear;
}
.signup-right button {
  background: linear-gradient(rgba(41, 252, 153, 0.3), rgba(36, 248, 68, 0.3));
}
.login-left button:active,
.signup-right button:active {
  transform: translateY(4px);
  box-shadow: 0 5px #666;
}
.login-right {
  background: linear-gradient(rgba(41, 252, 153, 0.3), rgba(36, 248, 68, 0.3));
  width: 50%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s linear;
  animation: login-right 1s ease;
}
@keyframes login-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-375px);
  }
}
.login-right i{
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 0.3s ease;
}
.login-right i:hover{
  color: black;
  cursor: pointer;
}
.login-right i:active{
  transform: translateY(5px);
}
.signup-left {
  background: linear-gradient(rgba(52, 174, 255, 0.4), rgba(118, 49, 246, 0.4));
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s linear;
  animation: signup-left 1s ease;
}
@keyframes signup-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(375px);
  }
}
.signup-left i {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  transition: all 0.3s ease;
}
.signup-left i:hover{
  color: black;
  cursor: pointer;
}
.signup-left i:active{
  transform: translateY(5px);
}
img {
  width: 120px;
  height: 150px;
  filter: drop-shadow(1px 2px 8px black);
  position: absolute;
  top: 30px;
  right: 25px;
  transition: all 0.6s linear;
}
h3 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 30px;
  position: relative;
  text-shadow: 0px 2px 12px black;
}
h6 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 3px;
  text-shadow: 0px 2px 12px black;
}
span:last-child {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  background: linear-gradient(rgba(52, 174, 255, 0.4), rgba(118, 49, 246, 0.4));
  border-radius: 50%;
  box-shadow: 0px 0px 7px black;
  position: absolute;
  bottom: -20px;
  left: -30px;
}
.signup-left span:first-child,
.signup-left span:last-child {
  background: linear-gradient(rgba(41, 252, 153, 0.3), rgba(36, 248, 68, 0.3));
}
span:first-child {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  background: linear-gradient(rgba(52, 174, 255, 0.4), rgba(118, 49, 246, 0.4));
  border-radius: 50%;
  box-shadow: 0px 0px 7px black;
  position: absolute;
  top: -20px;
  left: -30px;
}
.login-right button,
.signup-left button {
  width: 130px;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    rgba(52, 174, 255, 0.4),
    rgba(118, 49, 246, 0.4)
  );
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 2px 12px black;
  transition: all 0.2s linear;
}
.signup-left button {
  background: linear-gradient(rgba(41, 252, 153, 0.3), rgba(36, 248, 68, 0.3));
}
.login-right button:active,
.signup-left button:active {
  transform: translateY(2px);
  box-shadow: 0 5px #666;
}
